<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
</head>
<body>
<form th:method="POST" th:action="@{/player/create}" th:object="${player}">
    <label for="firstName">Enter player firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstName" minlength="1" maxlength="32" required/>
    <br/>
    <label for="lastName">Enter player lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName" minlength="1" maxlength="32" required/>
    <br/>
    <label for="experience">Enter experience of the player: </label>
    <input type="number" th:field="*{experience}" id="experience" min="1" required/>
    <br/>
    <label for="age">Enter age of the player: </label>
    <input type="number" th:field="*{age}" id="age" min="16" max="46" required/>
    <br/>
    <label for="team">Enter the name of team for the player: </label>
    <select id="team" name="team" th:field="*{team}">
        <option th:each="t : ${teams}" th:value="${t.getId()}" th:text="${t.getName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Create player"/>
</form>
</body>
</html>